{% extends 'base.html' %}

{% block content %}
<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <span class="" style="color: #FF4500; font-weight: bold; font-size: 30px; margin-left: auto; margin-right: auto">Just Post IT</span>
      </a>
      <input class="" type="search" placeholder="Поиск" aria-label="Search" style="height: 40px; width: 300px; border: solid #FF9A37; margin-left: auto; border-radius: 20px; box-shadow: 0px 0px 5px 2px #f4cc85">
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <form action="add_post"><button class="btn btn-primary" type="submit" style="margin-right: 40px; color: black; background-color: white; border: solid #FF9A37; border-radius: 20px; width: 120px; box-shadow: 0px 0px 5px 2px #f4cc85">Профиль</button></form>
      </nav>
    </div>
  </header>

<section class="container box-section1" style="background-color: white; margin-right: auto; margin-left: auto; justify-content: center;
                display: block; align-items: center; text-align: center; width: 1000px;
                border-radius: 25px; padding-top: 20px; padding-bottom: 20px">
{{ super() }}
{{ post | safe }}
</section>
</div>
{% endblock %}